
.w{
    font-family:'Impact';
    font-size: 50px;
    text-align: center;
}
.w2{
    font-family:'Impact';
    font-size: 40px;
    text-align: center;
}
.n{
    text-align: center;
}
.norm{
    font-family:'impact';
    font-size:25px;

}

input.textb{
    width:100%;
}
input.done{
    margin-left:80px;
    margin-bottom:20px;
    width:100px;
    background-color: white;
     border: 2px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
input.done:hover{
    background-color: black;
    color:white;
}

.block{
    display: block;
    font-size :22px;
}
.choice{
    position: relative;
     left: 130px;
     bottom: 40px;
    display: inline-block;
}
.mvimg{
    position: relative;
    left: 120px;
    bottom: 27px;

}
input.sub{  
    width:150px;
    background-color: white;
    border: 2px solid black;
    color: black;
    left:-10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
input.sub:hover{
    background-color: black;
    color:white;
}
#timer_div{
    position: relative;
    left:1000px;
    bottom:50px;
    font-family: 'impact';
    font-size:20px;
}
#timer_div2{
    position: fixed;
    right:3%;
    top:5%;
    font-family: 'impact';
    font-size:50px;

}
#container {
    width: 1110px;
    height: inherit;
   padding-left: 50px;
    padding-right: 50px;
      padding-bottom: 50px;
      margin-top: 50px;
      margin-left:50px;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}
#container2 {
    width: 400px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;    
    display: inline-block;
    background-color: white;
    font-size: 20px;
    font-family:'Arial';
}
#container3 {
    width: 1000px;
    height: inherit;
   padding-left: 50px;
    padding-right: 50px;
      padding-bottom: 50px;
      margin-top: 50px;
      margin-left:50px;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}
#container4{
    width: 1010px;
     height: inherit;
     padding:50px 50px 50px 50px;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 5px #888888;
    display: inline-block;
    
}
#container5{
    width:115px;
    margin:10px;
    display: inline-block;
}
#container6{

    background-color: white;
    width:200px;
    height: 200px
    margin:10px;
    display: inline-block;
}
#containall{
    background-color: white;
    width:1250px;
    margin:10px;
    display: inline-block;
}
input.subfix{  
    position: fixed;
    top :230px;
    left: 100px;
   margin-left:80px;
    margin-bottom:20px;
    width:100px;
    background-color: white;
     border: 2px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
input.subfix:hover{
    background-color: black;
    color:white;
}
.time{
    position: fixed;
    top :63px;
    left: 185px;
    
    margin-bottom:20px;
    width:4px;
    background-color: white;
     text-align: center;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
   
}